# Python ignores
__pycache__/
*.py[cod]
*$py.class
*.egg*
*.manifest
htmlcov/
.coverage
venv/
ENV/

# Build and Release Folders
bin-debug/
bin-release/
node_modules/

# System files
.DS_Store

# credential files
.env
config/

# Misc
coverage/
logs/
*.log
*.xml
